
#carouselExampleSlidesOnly{
    background-image: url(../img/bg.jpg);
    height: 700px;
    background-size: cover;
    object-fit: cover;
    background-position: center center;    
    padding-top: 15%;
    padding-bottom: 15%;
    width: 100% ;
      

}  
