<!-- your html code here -->
<div class="container">
    <div class="row">
       
    
        <div class="col ">
            <div class="title" >
                <h1> The First Heading Will Catch Your Eyes </h1> 
                
                <P class="parrafo" ></P>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae ipsa corporis aperiam nisi quibusdam
                sed itaque neque dignissimos cum voluptatibus, dolor similique reprehenderit exercitationem molestias
                culpa accusantium blanditiis assumenda debitis?

            </div>
        </div>
        <div class="col">          
            
            <img src="assets/img/1.jpg" alt="foto "class="rounded-circle-width="200px; height="200px">
        </div>





    </div>
</div>
</div>
<br>
<br>
<br>