<!-- your html code here -->
<div class="container">
    <div class="row">


        <div class="col-9">
            <h2>
                The first Heading
                <span class="text-secondary"> will knock your socks off</span>
            </h2>
            <p class="lead" style="font-size: 20px">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia illo repellendus labore itaque qui
                excepturi cum natus asperiores similique doloribus sint harum officiis nulla, assumenda quo deserunt sit
                laboriosam accusantium.

            </p>



        </div>

        <div class="col-3">
            <img src="assets/img/1.jpg" alt="foto" class="rounded-circle" width="200px; height=200px style="
                position:absolute;right:0;>
        </div>

    </div>